Repository Leon4s4/kafka-http-source-connector, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, documentation, config, ci, security, performance, dependencies, major

.github/labeler.yml:

# GitHub Actions labeler configuration
# Automatically labels PRs based on changed files

# Source code changes
"source":
  - "src/main/java/**"

# Test changes
"tests":
  - "src/test/java/**"

# Documentation changes
"documentation":
  - "README.md"
  - "ENTERPRISE_FEATURES.md"
  - "*.md"
  - "docs/**"

# Configuration changes
"config":
  - "pom.xml"
  - "src/main/resources/**"
  - "examples/**"

# CI/CD changes
"ci":
  - ".github/workflows/**"
  - ".github/**"

# Security related
"security":
  - "src/**/security/**"
  - "src/**/encryption/**"
  - "src/**/auth/**"

# Performance related
"performance":
  - "src/**/performance/**"
  - "src/**/benchmark/**"

# Dependencies
"dependencies":
  - "pom.xml"

# Major changes (multiple areas)
"major":
  - "src/main/java/**"
  - "src/test/java/**"
  - "pom.xml"
  - "README.md"

# Bug fixes (when title contains "fix")
"bug":
  - any: ['*']
    all: ['src/**']

# Features (when title contains "feat")
"enhancement":
  - any: ['*']
    all: ['src/**']

oath certificate
  README.md
  docs/OAUTH2_CERTIFICATE_AUTHENTICATION.md
  examples/oauth2-certificate-config.json
  src/main/java/io/confluent/connect/http/auth/HttpAuthenticatorFactory.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/config/HttpSourceConnectorConfig.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationIntegrationTestClean.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationSimpleIntegrationTest.java
  src/test/java/io/confluent/connect/http/unit/OAuth2CertificateAuthenticationUnitTest.java
Labels: source, tests, documentation, config, security, major

Update src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationIntegrationTest.java
Labels: tests, major

fixes
  README.md
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/ODataCursorPaginationTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Labels: tests, documentation, major

Update src/main/java/io/confluent/connect/http/config/HttpSourceConnectorConfig.java
  src/main/java/io/confluent/connect/http/config/HttpSourceConnectorConfig.java
Labels: source, major

code review
  docs/OAUTH2_CERTIFICATE_AUTHENTICATION.md
  examples/oauth2-certificate-config.json
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/test/java/io/confluent/connect/http/integration/AuthenticationDebugTest.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationIntegrationTestClean.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationSimpleIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OptimizedEnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/README.md
  src/test/java/io/confluent/connect/http/unit/OAuth2CertificateAuthenticationUnitTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Labels: source, tests, documentation, config, security, major

Update src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

Update src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

code review
  docs/OAUTH2_CERTIFICATE_AUTHENTICATION.md
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, documentation, security, major

Update src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

clean up
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Labels: source, security, major

Update src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

Update src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

Update src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

Update src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

WIP on oauth_certificate
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

Update src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

cr
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, security, major

oath certificate (#11)
  README.md
  docs/OAUTH2_CERTIFICATE_AUTHENTICATION.md
  examples/oauth2-certificate-config.json
  src/main/java/io/confluent/connect/http/auth/HttpAuthenticatorFactory.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
  src/main/java/io/confluent/connect/http/config/HttpSourceConnectorConfig.java
  src/test/java/io/confluent/connect/http/integration/AuthenticationDebugTest.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationIntegrationTestClean.java
  src/test/java/io/confluent/connect/http/integration/OAuth2CertificateAuthenticationSimpleIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/ODataCursorPaginationTest.java
  src/test/java/io/confluent/connect/http/integration/OptimizedEnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/README.md
  src/test/java/io/confluent/connect/http/unit/OAuth2CertificateAuthenticationUnitTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Labels: source, tests, documentation, config, security, major

tune in
  .vscode/settings.json
  src/test/java/io/confluent/connect/http/integration/ApiChainingIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/CachingIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/CircuitBreakerIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/ComprehensiveAuthenticationIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/ComprehensiveOffsetManagementIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/FieldEncryptionIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/MultiApiEndpointIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/RateLimitingIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/SchemaRegistryIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/SslTlsSecurityIntegrationTest.java
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Labels: tests, major

clean up
  .gitignore
  ENTERPRISE_IMPLEMENTATION_COMPLETE.md
  MIssing-Features.md
  PERFORMANCE_COMPARISON.md
  TESTCONTAINERS_OPTIMIZATION.md
  TODO.md
  docs/HTTP_SOURCE_CONNECTOR_PRD.md
  src/main/java/io/confluent/connect/http/auth/AbstractOAuth2Authenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2Authenticator.java
  src/main/java/io/confluent/connect/http/auth/OAuth2CertificateAuthenticator.java
Labels: source, documentation, security, major
