Repository Leon4s4/kafka-http-source-connector, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, documentation, config, ci, security, performance, dependencies, major

.github/labeler.yml:

# GitHub Actions labeler configuration
# Automatically labels PRs based on changed files

# Source code changes
"source":
  - "src/main/java/**"

# Test changes
"tests":
  - "src/test/java/**"

# Documentation changes
"documentation":
  - "README.md"
  - "ENTERPRISE_FEATURES.md"
  - "*.md"
  - "docs/**"

# Configuration changes
"config":
  - "pom.xml"
  - "src/main/resources/**"
  - "examples/**"

# CI/CD changes
"ci":
  - ".github/workflows/**"
  - ".github/**"

# Security related
"security":
  - "src/**/security/**"
  - "src/**/encryption/**"
  - "src/**/auth/**"

# Performance related
"performance":
  - "src/**/performance/**"
  - "src/**/benchmark/**"

# Dependencies
"dependencies":
  - "pom.xml"

# Major changes (multiple areas)
"major":
  - "src/main/java/**"
  - "src/test/java/**"
  - "pom.xml"
  - "README.md"

# Bug fixes (when title contains "fix")
"bug":
  - any: ['*']
    all: ['src/**']

# Features (when title contains "feat")
"enhancement":
  - any: ['*']
    all: ['src/**']

fixed build
  .vscode/settings.json
  src/main/java/io/confluent/connect/http/HttpSourceConnector.java
  src/main/java/io/confluent/connect/http/HttpSourceTask.java
  src/main/java/io/confluent/connect/http/client/ClientStatistics.java
  src/main/java/io/confluent/connect/http/client/EnhancedHttpClient.java
  src/main/java/io/confluent/connect/http/config/EnhancedConfigValidator.java
  src/main/java/io/confluent/connect/http/operational/OperationalStatus.java
  src/main/java/io/confluent/connect/http/performance/ProcessingStatistics.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseEndToEndDemoTest.java
  src/test/java/io/confluent/connect/http/integration/EnterprisePerformanceIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/SimplifiedEnterpriseIntegrationTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/TEST-io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.AdvancedErrorHandlerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.FieldEncryptionManagerTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.AdvancedErrorHandlerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.FieldEncryptionManagerTest.txt
  target/test-classes/io/confluent/connect/http/integration/README.md
Labels: source, tests, performance, major

tests
  HTTP_SOURCE_CONNECTOR_PRD.md
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/surefire-reports/TEST-io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.txt
Labels: tests, documentation, major

Update src/main/java/io/confluent/connect/http/transformation/SimpleTransformationEngine.java
  src/main/java/io/confluent/connect/http/transformation/SimpleTransformationEngine.java
Labels: source, major

Update src/main/java/io/confluent/connect/http/performance/EnhancedStreamingProcessor.java
  src/main/java/io/confluent/connect/http/performance/EnhancedStreamingProcessor.java
Labels: source, performance, major

Update src/main/java/io/confluent/connect/http/transformation/AdvancedTransformationEngine.java
  src/main/java/io/confluent/connect/http/transformation/AdvancedTransformationEngine.java
Labels: source, major

fixed config
  src/main/java/io/confluent/connect/http/ssl/EnhancedSSLManager.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Labels: source, major

Update src/main/java/io/confluent/connect/http/ssl/PinnedX509TrustManager.java
  src/main/java/io/confluent/connect/http/ssl/PinnedX509TrustManager.java
Labels: source, major

tests
  src/main/java/io/confluent/connect/http/ratelimit/RateLimitManager.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Labels: source, major

fixed build
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
Labels: tests, major

fix
  src/main/java/io/confluent/connect/http/performance/EnhancedStreamingProcessor.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/surefire-reports/TEST-io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.txt
Labels: source, performance, major

run tests
  src/test/java/io/confluent/connect/http/integration/AuthenticationDebugTest.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/ReliableEnterpriseIntegrationTest.java
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/TEST-io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.AdvancedErrorHandlerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.FieldEncryptionManagerTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.AdvancedErrorHandlerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.FieldEncryptionManagerTest.txt
Labels: tests, major

fixed assertions
  src/test/java/io/confluent/connect/http/integration/AuthenticationDebugTest.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseEndToEndDemoTest.java
  src/test/java/io/confluent/connect/http/integration/EnterprisePerformanceIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/ReliableEnterpriseIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/SimplifiedEnterpriseIntegrationTest.java
Labels: tests, major

updated readme
  README.md
Labels: documentation, major

updated readme
  README.md
Labels: documentation, major

optmize tests
  .testcontainers.properties
  1.md
  PERFORMANCE_COMPARISON.md
  TESTCONTAINERS_OPTIMIZATION.md
  pom.xml
  src/test/java/io/confluent/connect/http/integration/BaseIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OptimizedEnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OptimizedHttpSourceConnectorSimpleIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OptimizedSimplifiedEnterpriseIntegrationTest.java
  target/test-classes/io/confluent/connect/http/integration/README.md
Labels: tests, documentation, config, dependencies, major

CI
  .github/workflows/ci.yml
  pom.xml
Labels: config, ci, dependencies, major

ci
  .github/workflows/security.yml
Labels: ci

removed coverage
  .github/workflows/ci.yml
Labels: ci

CI
  .github/workflows/ci.yml
Labels: ci

CI
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: ci

ci
  .github/workflows/security.yml
Labels: ci

More tests
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .testcontainers.properties
  1.md
  PERFORMANCE_COMPARISON.md
  TESTCONTAINERS_OPTIMIZATION.md
  pom.xml
  src/test/java/io/confluent/connect/http/integration/AuthenticationDebugTest.java
  src/test/java/io/confluent/connect/http/integration/BaseIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseEndToEndDemoTest.java
  src/test/java/io/confluent/connect/http/integration/EnterprisePerformanceIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OptimizedEnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OptimizedHttpSourceConnectorSimpleIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/OptimizedSimplifiedEnterpriseIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/ReliableEnterpriseIntegrationTest.java
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/TEST-io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.AdvancedErrorHandlerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.FieldEncryptionManagerTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.AdvancedErrorHandlerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.FieldEncryptionManagerTest.txt
  target/test-classes/io/confluent/connect/http/integration/README.md
Labels: tests, documentation, config, ci, dependencies, major

create package
  .github/workflows/ci.yml
Labels: ci

respect log
  examples/debug-logging-config.json
  src/main/java/io/confluent/connect/http/HttpSourceTask.java
  src/main/java/io/confluent/connect/http/config/EnhancedConfigValidator.java
  src/main/java/io/confluent/connect/http/config/HttpSourceConnectorConfig.java
  src/main/java/io/confluent/connect/http/debug/DebugLogger.java
  src/main/java/io/confluent/connect/http/error/ConnectionErrorDiagnostics.java
  src/main/java/io/confluent/connect/http/error/EnhancedErrorReport.java
Labels: source, config, major

serialization fixes
  src/main/java/io/confluent/connect/http/converter/JsonRecordConverter.java
  src/test/java/io/confluent/connect/http/unit/JsonRecordConverterTest.java
Labels: source, tests, major

parsing
  src/main/java/io/confluent/connect/http/client/HttpApiClient.java
  src/test/java/io/confluent/connect/http/integration/ODataCursorPaginationTest.java
  src/test/java/io/confluent/connect/http/unit/TemplateReplacementTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/2025-07-29T08-12-12_713-jvmRun1-commands.bin
  target/surefire-reports/2025-07-29T08-12-12_713-jvmRun1-events.bin
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataCursorPaginationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.TemplateReplacementTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.ODataCursorPaginationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.TemplateReplacementTest.txt
Labels: source, tests, major

readme
  README.md
Labels: documentation, major

clean up sleep
  src/test/java/io/confluent/connect/http/integration/ODataCursorPaginationTest.java
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataCursorPaginationTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.ODataCursorPaginationTest.txt
Labels: tests, major

code review
  src/test/java/io/confluent/connect/http/integration/ODataCursorPaginationTest.java
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataCursorPaginationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.TemplateReplacementTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.ODataCursorPaginationTest.txt
Labels: tests, major

parsing (#8)
  README.md
  src/main/java/io/confluent/connect/http/client/HttpApiClient.java
  src/test/java/io/confluent/connect/http/integration/ODataCursorPaginationTest.java
  src/test/java/io/confluent/connect/http/unit/TemplateReplacementTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/2025-07-29T08-12-12_713-jvmRun1-commands.bin
  target/surefire-reports/2025-07-29T08-12-12_713-jvmRun1-events.bin
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataCursorPaginationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.TemplateReplacementTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.ODataCursorPaginationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.TemplateReplacementTest.txt
Labels: source, tests, documentation, major

parsing
  README.md
  src/test/java/io/confluent/connect/http/integration/ODataCursorPaginationTest.java
  src/test/java/io/confluent/connect/http/unit/HttpApiClientRealRequestTest.java
  src/test/java/io/confluent/connect/http/unit/HttpApiClientTemplateTest.java
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataCursorPaginationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.HttpApiClientRealRequestTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.HttpApiClientTemplateTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.ODataCursorPaginationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.HttpApiClientRealRequestTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.HttpApiClientTemplateTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.TemplateReplacementTest.txt
Labels: tests, documentation, major

odata
  CLAUDE.md
  README.md
  examples/odata-pagination-config.json
  examples/odata-token-only-config.json
  src/main/java/io/confluent/connect/http/HttpSourceTask.java
  src/main/java/io/confluent/connect/http/client/HttpApiClient.java
  src/main/java/io/confluent/connect/http/config/ApiConfig.java
  src/main/java/io/confluent/connect/http/offset/ODataOffsetManager.java
  src/main/java/io/confluent/connect/http/offset/OffsetManagerFactory.java
  src/test/java/io/confluent/connect/http/integration/ODataPaginationIntegrationTest.java
  src/test/java/io/confluent/connect/http/unit/ODataOffsetManagerTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataPaginationIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.ODataOffsetManagerTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.ODataPaginationIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.ODataOffsetManagerTest.txt
Labels: source, tests, documentation, config, major

Update src/main/java/io/confluent/connect/http/offset/ODataOffsetManager.java
  src/main/java/io/confluent/connect/http/offset/ODataOffsetManager.java
Labels: source, major

code review
  src/main/java/io/confluent/connect/http/config/ApiConfig.java
  src/main/java/io/confluent/connect/http/offset/ODataOffsetManager.java
  src/test/java/io/confluent/connect/http/unit/ODataOffsetManagerTest.java
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataPaginationIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.ODataOffsetManagerTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.ODataPaginationIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.ODataOffsetManagerTest.txt
Labels: source, tests, major

code review
  1.md
  TODO.md
  TestPatternCache.java
  src/main/java/io/confluent/connect/http/HttpSourceTask.java
  src/main/java/io/confluent/connect/http/offset/ODataOffsetManager.java
  test-pattern-cache.java
Labels: source, documentation, major

tests
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
Labels: tests, major

odata (#9)
  1.md
  CLAUDE.md
  README.md
  TODO.md
  TestPatternCache.java
  examples/odata-pagination-config.json
  examples/odata-token-only-config.json
  src/main/java/io/confluent/connect/http/HttpSourceTask.java
  src/main/java/io/confluent/connect/http/client/HttpApiClient.java
  src/main/java/io/confluent/connect/http/config/ApiConfig.java
  src/main/java/io/confluent/connect/http/offset/ODataOffsetManager.java
  src/main/java/io/confluent/connect/http/offset/OffsetManagerFactory.java
  src/test/java/io/confluent/connect/http/integration/EnterpriseConnectorIntegrationTest.java
  src/test/java/io/confluent/connect/http/integration/ODataPaginationIntegrationTest.java
  src/test/java/io/confluent/connect/http/unit/ODataOffsetManagerTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataPaginationIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.ODataOffsetManagerTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.ODataPaginationIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.ODataOffsetManagerTest.txt
  test-pattern-cache.java
Labels: source, tests, documentation, config, major

odata offsets
  .gitignore
  src/main/java/io/confluent/connect/http/HttpSourceTask.java
  src/test/java/io/confluent/connect/http/unit/HttpSourceTaskODataOffsetTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/2025-07-29T08-12-12_713-jvmRun1-commands.bin
  target/surefire-reports/2025-07-29T08-12-12_713-jvmRun1-events.bin
  target/surefire-reports/TEST-io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataCursorPaginationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataPaginationIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.AdvancedErrorHandlerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.FieldEncryptionManagerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.HttpApiClientRealRequestTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.HttpApiClientTemplateTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.ODataOffsetManagerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.TemplateReplacementTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.integration.ODataCursorPaginationTest.txt
  target/surefire-reports/io.confluent.connect.http.integration.ODataPaginationIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.AdvancedErrorHandlerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.FieldEncryptionManagerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.HttpApiClientRealRequestTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.HttpApiClientTemplateTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.ODataOffsetManagerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.TemplateReplacementTest.txt
  target/test-classes/io/confluent/connect/http/integration/README.md
Labels: source, tests, major

OData Configurable Poll Intervals
  README.md
  docs/ODATA_CONFIGURABLE_POLL_INTERVALS.md
  examples/odata-configurable-poll-intervals-config.json
  src/main/java/io/confluent/connect/http/HttpSourceTask.java
  src/main/java/io/confluent/connect/http/config/ApiConfig.java
  src/main/java/io/confluent/connect/http/offset/ODataOffsetManager.java
  src/test/java/io/confluent/connect/http/unit/HttpSourceTaskODataPollIntervalTest.java
Labels: source, tests, documentation, config, major

Offset presistance (#10)
  .gitignore
  README.md
  docs/ODATA_CONFIGURABLE_POLL_INTERVALS.md
  examples/odata-configurable-poll-intervals-config.json
  src/main/java/io/confluent/connect/http/HttpSourceTask.java
  src/main/java/io/confluent/connect/http/config/ApiConfig.java
  src/main/java/io/confluent/connect/http/offset/ODataOffsetManager.java
  src/test/java/io/confluent/connect/http/unit/HttpSourceTaskODataOffsetTest.java
  src/test/java/io/confluent/connect/http/unit/HttpSourceTaskODataPollIntervalTest.java
  target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
  target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
  target/surefire-reports/2025-07-29T08-12-12_713-jvmRun1-commands.bin
  target/surefire-reports/2025-07-29T08-12-12_713-jvmRun1-events.bin
  target/surefire-reports/TEST-io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataCursorPaginationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.integration.ODataPaginationIntegrationTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.AdvancedErrorHandlerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.FieldEncryptionManagerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.HttpApiClientRealRequestTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.HttpApiClientTemplateTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.ODataOffsetManagerTest.xml
  target/surefire-reports/TEST-io.confluent.connect.http.unit.TemplateReplacementTest.xml
  target/surefire-reports/io.confluent.connect.http.integration.EnterpriseConnectorIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.integration.HttpSourceConnectorSimpleIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.integration.ODataCursorPaginationTest.txt
  target/surefire-reports/io.confluent.connect.http.integration.ODataPaginationIntegrationTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.AdvancedErrorHandlerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.FieldEncryptionManagerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.HttpApiClientRealRequestTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.HttpApiClientTemplateTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.ODataOffsetManagerTest.txt
  target/surefire-reports/io.confluent.connect.http.unit.TemplateReplacementTest.txt
  target/test-classes/io/confluent/connect/http/integration/README.md
Labels: source, tests, documentation, config, major
